# Banco de dados local (Docker)
POSTGRES_DB=desafiotecnico
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Portas dos serviços (altere se houver conflito)
BACKEND_PORT=8080
BFF_PORT=3001
FRONTEND_PORT=5173
